@(id: String, infoForm: Form[Admin.Info])

@import helper._

@main(title = "Biofuel Oasis via Dwolla") {

<h1>Edit Information</h1>
@flashMsg()

@form(routes.Admin.deleteUser(id), 'class -> "topRight") {
<input type="submit" value="Delete this user" class="btn danger">
}


@form(action = routes.Admin.updateInfo(id)) {

@if(infoForm.hasGlobalErrors) {
<p class="error">
    @infoForm.globalError.message
</p>
}

@if(infoForm.hasErrors) {
<p class="error">
    @infoForm.errorsAsJson
</p>
}

@inputText(
field = infoForm("username"),
args = '_label -> "Username"
)

@checkbox(field = infoForm("isAdmin"))

<p class="buttons"><input type="submit"></p>

<a class="name" href="@routes.Admin.menu">Cancel</a>

}

}