@(id: Integer, infoForm: Form[Admin.Info])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

<h1>Edit Information</h1>

@form(routes.Admin.deleteUser(id), 'class -> "topRight") {
<input type="submit" value="Delete User" class="btn danger">
}

@form(routes.Admin.updateInfo(id)) {

@flashMsg()
@globalErrorMsg(infoForm)

<fieldset>
    @inputText(infoForm("username"),'_label -> "Username")
    @checkbox(infoForm("isAdmin"))
</fieldset>

<div class="actions">
    <input type="submit" value="Update" class="btn primary">
    <a href="@routes.Admin.menu()" class="btn">Cancel</a>
</div>

}
}