@(passwordForm: Form[Application.PasswordForm])

@import helper._

@main(title = "The 'Biofuel Oasis' application") {

<h1>Edit Password</h1>

@form(action = routes.Application.updatePassword, args = 'id -> "passwordform") {


@inputPassword(
field = passwordForm("oldPassword"),
args = '_label -> "Old password"
)

@inputPassword(
field = passwordForm("newPassword"),
args = '_label -> "New password"
)

@inputPassword(
field = passwordForm("confirmPassword"),
args = '_label -> "Confirm new password"
)



<p class="buttons">
    <input type="submit">
<p>

    <a class="name" href="@routes.Application.usermenu"> Cancel TODO because of params </a>

    }

    }