@(passwordForm: Form[Application.PasswordForm])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

<h1>Edit Password</h1>

@form(routes.Application.updatePassword) {

@flashMsg()
@globalErrorMsg(passwordForm)

<fieldset>
    @inputPassword(passwordForm("oldPassword"),'_label -> "Old password")
    @inputPassword(passwordForm("newPassword"),'_label -> "New password")
    @inputPassword(passwordForm("confirmPassword"),'_label -> "Confirm new password")
</fieldset>

<div class="actions">
    <input type="submit" value="Update" class="btn primary">
    <a href="@routes.Application.menu()" class="btn">Cancel</a>
</div>

}
}