@(infoForm: Form[Application.Info])

@import helper._

@main(title = "Biofuel Oasis via Dwolla") {

<h1>Edit Information</h1>
@flashMsg()

@form(action = routes.Application.updateInfo) {

@if(infoForm.hasGlobalErrors) {
<p class="error">
    @infoForm.globalError.message
</p>
}

@if(infoForm.hasErrors) {
<p class="error">
    @infoForm.errorsAsJson
</p>
}

@inputText(
field = infoForm("username"),
args = '_label -> "Username"
)

@inputPassword(
field = infoForm("pin"),
args = '_label -> "Dwolla PIN"
)

<p class="buttons"><input type="submit"></p>

<a class="name" href="@routes.Application.menu"> Cancel</a>

    }

    }