@(loginForm: Form[Authentication.LoginForm])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

<h1>Sign In</h1>

@form(routes.Authentication.authenticate) {

@flashMsg()
@globalErrorMsg(loginForm)

<fieldset>
    @inputText(loginForm("username"),'_label -> "Username")
    @inputPassword(loginForm("password"),'_label -> "Password")
</fieldset>

<div class="actions">
    <input type="submit" value="Login" class="btn primary">
    <a href="@routes.Authentication.register()" class="btn">Register</a>
</div>

}
}