@(loginForm: Form[Authentication.LoginForm])

@import helper._
@import helper.twitterBootstrap._

@main("Please sign in to Biofuel Oasis application") {

@form(routes.Authentication.authenticate) {
<h1>Login or Register</h1>

@if(loginForm.hasGlobalErrors) {
<p class="error">
    @loginForm.globalError.message
</p>
}

@if(flash.contains("success")) {
<p class="success">
    @flash.get("success")
</p>
}

@inputText(
field = loginForm("username"),
args = '_label -> "Username"
)

@inputPassword(
field = loginForm("password"),
args = '_label -> "Password"
)

<p class="buttons">
    <input type="submit">
<p>

<p>
    <a class="name" href="@routes.Authentication.register">Register</a>
</p>
}
}