@(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>Biofuel Oasis Dwolla</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
</head>
<body>

<header class="topbar">
    <h1 class="fill">
        <a href="@routes.Application.index()">
            Biofuel Oasis Dwolla
        </a>
    </h1>
</header>

<section id="main">
    @content
</section>

</body>
</html>
