@(registrationForm: Form[Authentication.Registration])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main {

<h1>Configure your Biofuel Oasis Account</h1>

@form(routes.Authentication.register) {

@flashMsg()
@globalErrorMsg(registrationForm)

<fieldset>
    @inputText(registrationForm("username"),'_label -> "Username")
    @inputPassword(registrationForm("password"),'_label -> "Password")
    @inputPassword(registrationForm("confirmPassword"),'_label -> "Confirm Password")
    @inputPassword(registrationForm("pin"),'_label -> "Dwolla PIN")
</fieldset>

<div class="actions">
    <input type="submit" value="Register" class="btn primary">
    <a href="@routes.Application.menu()" class="btn">Cancel</a>
</div>

}
}