@(user: User)

@import helper._
@import controllers.Application

@main(title = "The 'Biofuel Oasis' application") {

<h1>Menu for @user.username</h1>

<ul>
<li><a class="name" href="@routes.Application.editInfo">update username or dwolla pin</a></li>
<li><a class="name" href="@routes.Application.editPassword">update password</a></li>
<li><a class="name" href="https://www.dwolla.com/oauth/v2/authenticate?scope=send&client_id=@Application.dwollaAppKey()&response_type=code&redirect_uri=@Application.dwollaRedirectUri()">reauthorize</a></li>
<li><a class="name" href="@routes.Authentication.logout">logout</a></li>
<br/>
@if(user.isAdmin) {
<li><a class="name" href="@routes.Admin.menu">admin</a></li>
}
</ul>


}